.btn {
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  order: none;
  background-color: rgb(53, 164, 228);
}

.btn--primary:hover {
  order: none;
  background-color: rgb(46, 141, 197);
}

.btn--danger {
  color: white;
  background-color: rgb(228, 79, 53);
}

.btn--danger:hover {
  background-color: rgb(210, 50, 22);
}

.btn--ghost {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  z-index: 999;
}
.btn--ghost:hover {
  color: white;
  background-color: rgb(22, 21, 21);
}


.btn--ghost:active {
  background-color: blueviolet;
}
